.today_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    min-height: 100%;
    padding: 0 10px;
    background-color: var(--color-primary);
    color: var(--color-white);
    border-radius: 6px;
    font-size: var(--font-size-lg);
    font-weight: var(--font-weight-bold);
    text-align: center;
    cursor: pointer;
    transition: background-color var(--transition-duration);
    
    &:hover {
        background-color: var(--color-primary-dark);
    }
}