.item {
    width: 100%;
    min-height: 30px;
    padding: 2px;
    border-radius: 2px;
    margin: 2px 0;
    cursor: grab;
    background-color: var(--item-back-color);
    font-size: 12px;
    position: relative;
    padding-right: 20px;

    & .delete_icon {
        position: absolute;
        right: 0;
        top: 0;
        background-color: inherit;
        cursor: pointer;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        & .icon {
            color: var(--line-color);
            &:hover {
                color: var(--black-color)
            }
        }
    }

    & .item_title {
        text-transform: capitalize;
    }
}

.label_wrapp {
    display: flex;
    width: 90%;
    justify-content: space-between;
    margin-bottom: 5px;
    

    & .label {
        width: 30%;
        height: 8px;
        background-color: var(--line-color);
        border-radius: 4px;
        cursor: pointer;
        &_green {
            &:hover {
                background-color: var(--green-label);
            }
        };
        &_yellow {
            &:hover {
                background-color: var(--yellow-label);
            }
        };
        &_red {
            &:hover {
                background-color: var(--red-label);
            }
        }
    }
    & .green {
        background-color: var(--green-label);
    }
    & .yellow {
        background-color: var(--yellow-label);
    }
    & .red {
        background-color: var(--red-label);
    }
}

.show_item {
    display: block;
}